<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div>
		<p>Menu</p>
		<a th:href="@{/}">Home</a> <a th:href="@{/admin/dashboard}">Dashboard</a>
		<a th:href="@{/users/userInfo}">UserInfo</a>
		<div th:if="${username != null}">
			<p th:text="${username}"></p>
			| &nbsp; <a th:href="@{/logout}">Logout</a>
		</div>
		<div th:if="${username == null}">
			| &nbsp; <a th:href="@{/login}">Login</a>
		</div>
	</div>
	<h2>User Info Page</h2>

	<h3 th:text="Welcome : ${username}"></h3>


	<b>This is protected page!</b>
</body>
</html>