<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{views/web/layout/base-layout.html}">

<head>
	<title>Contact</title>
</head>

<body>
	<section layout:fragment="content">
		<div th:replace="views/web/layout/banner :: banner-shared"></div>
		<!-- contact content -->
		<div id="contactContent">
			<section class="wthree-row pt-3 pb-sm-5 w3-contact">
				<div class="container py-sm-5 pb-5">
					<h5 class="head_agileinfo text-center text-capitalize pb-5">
						<span>C</span>ontact us
					</h5>
					<div class="row contact-form pt-lg-5">
						<div class="col-lg-6 wthree-form-left">
							<!-- contact form grid -->
							<div class="contact-top1">
								<h5 class="text-dark mb-4 text-capitalize">send us a note</h5>
								<form action="#" method="get" class="f-color">
									<div class="form-group">
										<label for="contactusername">Name</label>
										<input type="text" class="form-control" id="contactusername" required>
									</div>
									<div class="form-group">
										<label for="contactemail">Email</label>
										<input type="email" class="form-control" id="contactemail" required>
									</div>
									<div class="form-group">
										<label for="contactcomment">Your Message</label>
										<textarea class="form-control" rows="5" id="contactcomment" required></textarea>
									</div>
									<button type="submit" class="btn btn-info btn-block">Submit</button>
								</form>
							</div>
							<!--  //contact form grid ends here -->
						</div>
						<!-- contact details -->
						<div class="col-lg-6 contact-bottom pl-5 mt-lg-0 mt-5">
							<!-- contact details grid1-->
							<div class="address">
								<h5 class="pb-3 text-capitalize">Address</h5>
								<address>
									<p class="c-txt">90 Street, City, State 34789.</p>
									<p class="c-txt">76 Street, City, State 34789.</p>
								</address>
							</div>
							<!-- contact details grid2-->
							<div class="address my-5">
								<h5 class="pb-3 text-capitalize">phone</h5>
								<p>
									+10 234 5678</p>
								<p>
									+11 222 333</p>
								<p>
									+12 222 333</p>
							</div>
							<!-- contact details grid3 -->
							<div class="address mt-md-0 mt-3">
								<h5 class="pb-3 text-capitalize">Email</h5>
								<p>
									<a
										th:href="@{mailto:nguyen.thanh.huyen@sun-asterisk.com}">nguyen.thanh.huyen@sun-asterisk.com</a>
								</p>
								<p>
									<a
										th:href="@{mailto:nguyen.thi.thu.f@sun-asterisk.com}">nguyen.thi.thu.f@sun-asterisk.com</a>
								</p>
								<p>
									<a
										th:href="@{mailto:phan.minh.tuan.anh@sun-asterisk.com}">phan.minh.tuan.anh@sun-asterisk.com</a>
								</p>
							</div>
							<!-- //contact details row ends here -->
						</div>
					</div>
					<!-- //contact details container -->
				</div>
				<!-- contact map grid -->
				<div class="map contact-right pb-5">
					<div class="pt-lg-5 bg-pricemain text-center">
						<h3 class="stat-title text-capitalize pb-5">get directions</h3>
						<span class="w3-line"></span>
					</div>
					<iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
						src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Fhome%20%C4%90%C3%A0%20N%E1%BA%B5ng,%20Ki%E1%BB%87t%2025%20L%C3%BD%20Th%C6%B0%E1%BB%9Dng%20Ki%E1%BB%87t,%20H%E1%BA%A3i%20Ch%C3%A2u,%20%C4%90%C3%A0%20N%E1%BA%B5ng,%20Vi%E1%BB%87t%20Nam+(Sun%20Asterisk%20VietNam)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed">
					</iframe>
				</div>
				<!--//contact map grid ends here-->
			</section>
		</div>
	</section>
</body>

</html>