<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="head(title, links, scripts)">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="admin page">

	<title th:replace="${title}">Admin</title>

	<link th:href="@{/assets/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css"/>
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
		rel="stylesheet"/>

	<link th:href="@{/assets/admin/css/sb-admin-2.min.css}" rel="stylesheet"/>

	<th:block th:replace="${links}" />
</head>

<body id="page-top">
	<!-- Page Wrapper -->
	<div id="wrapper">

		<div th:replace="views/admin/layout/sidebar:: sidebar"></div>

		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">

			<!-- Main Content -->
			<div id="content">

				<div th:replace="views/admin/layout/topbar:: topbar"></div>

				<!-- Begin Page Content -->

				<div class="container-fluid">

					<div th:fragment="content(value)" th:insert="${value}"></div>

				</div>
				<!-- /.container-fluid -->

			</div>
			<!-- End of Main Content -->

			<div th:replace="views/admin/layout/footer:: footer"></div>
		</div>
		<!-- End of Content Wrapper -->

	</div>
	<!-- End of Page Wrapper -->

	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>


	<script th:src="@{/assets/admin/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


	<script th:src="@{/assets/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>


	<script th:src="@{/assets/admin/js/sb-admin-2.min.js}"></script>


	<th:block th:replace="${scripts}" />
</body>

</html>