<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Cloth e-commerce">

	<!--/*  Title will be replaced by their respective titles in the calling template. */-->
	<title>Base title</title>

	<!--/* Common */-->
	<link th:href="@{/assets/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
	<link
		th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
		rel="stylesheet" />
	<link th:href="@{/assets/admin/css/sb-admin-2.min.css}" rel="stylesheet" />
</head>

<body id="page-top">
	<div id="wrapper">
		<div th:replace="views/admin/layout/sidebar:: sidebar"></div>
		<div id="content-wrapper" class="d-flex flex-column">
			<div id="content">
				<div th:replace="views/admin/layout/topbar:: topbar"></div>
				<div class="container-fluid">
					<div th:if="${msg != null}" class="alert alert-dismissible fade show"
						th:classappend="${css == 'error' ? 'alert-danger' : 'alert-success'}" role="alert">
						<strong th:text="${msg}"></strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<section layout:fragment="content">

					</section>
				</div>
			</div>
			<div th:replace="views/admin/layout/footer:: footer"></div>
		</div>
	</div>
	<!-- Scroll to Top Button-->
	<a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
	</a>
	<!-- common js -->
	<script th:src="@{/assets/admin/vendor/jquery/jquery.min.js}"></script>
	<script th:src="@{/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
	<script th:src="@{/assets/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
	<script th:src="@{/assets/admin/js/sb-admin-2.min.js}"></script>
</body>

</html>