<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="views/web/layout/base-layout :: head(~{ :: title}, ~{ :: .custom-link}, ~{ :: .custom-script})">

    <!--/*  Title will be replaced by their respective titles in the calling template. */-->
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta charset="utf-8" />
    <meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />

    <!--/* Default links; can be replaced by the calling templates */-->
    <link th:href="@{/assets/web/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/assets/web/css/shop.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/assets/web/css/style.css}" rel="stylesheet" type="text/css" media="all">
    <link th:href="@{/assets/web/css/fontawesome-all.min.css}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <link class="custom-link" rel="stylesheet" th:href="@{/assets/web/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css}">    

    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>

</head>

<body>

    <!--/* Header fragment */-->
    <header th:replace="views/web/layout/header :: header"></header>
    <!--/* The value passed from calling template will be inserted in this element */-->


    <!--Banner home-->
    <div th:replace="views/web/layout/banner :: banner-home"></div>
    <!--services-->
    <div class="agileits-services" id="services">
        <div class="no-gutters agileits-services-row row">
            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-sync-alt p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{replace}"></h4>
            </div>
            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-gift p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{giftcard}"></h4>
            </div>

            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-lock p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{securepay}"></h4>
            </div>
            <div class="col-lg-3 col-sm-6 agileits-services-grids p-sm-5 p-3">
                <span class="fas fa-shipping-fast p-4"></span>
                <h4 class="mt-2 mb-3" th:text="#{freeship}"></h4>
            </div>
        </div>
    </div>
    <!-- //services-->	

    <!-- Begin Page Content -->
    <div th:insert="views/web/layout/base-layout :: content(~{ :: #contentIndex})">
        <div id="contentIndex">
            <div class="row no-gutters pb-5">
                <div class="col-sm-6">
                    <div class="hovereffect">
                        <img class="img-fluid" th:src="@{/assets/web/images/a1.jpg}" alt="" style="width:100%">
                        <div class="overlay">
                            <h5 th:text="#{women}"></h5>
                            <a class="info" th:href="@{/categories/2/products}" th:text="#{shopnow}"></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="hovereffect">
                        <img class="img-fluid" th:src="@{/assets/web/images/a2.jpg}" alt="" style="width:100%">
                        <div class="overlay">
                            <h5 th:text="#{men}"></h5>
                            <a class="info" th:href="@{/categories/1/products}" th:text="#{shopnow}"></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--  Page Content -->
    <!--/* Footer fragment */-->
    <footer th:replace="views/web/layout/footer :: footer"></footer>

    <!-- js -->
    <script th:src="@{/assets/web/js/jquery-2.2.3.min.js}"></script>
    <!-- //js -->
    
    <!-- Load the JS SDK asynchronously -->
	<script th:src="@{https://connect.facebook.net/vi_VN/sdk.js}" async defer crossorigin="anonymous" ></script>
	<script th:src="@{https://code.jquery.com/ui/1.12.1/jquery-ui.js}"></script>

	<script type="text/javascript">
	    $(document).ready(function () {  
	        $("#search").autocomplete({  
	            source: function(request,response) {  
	                $.ajax({  
	                    url: "http://localhost:8080/triplet/products/search",  
	                    type: "GET",    
	                    data: { term: request.term },  
	                    success: function (data) {  
	                        response($.map(data, function (item) {  
	                            return { value: item};  
	                        }))  
	                    },
	    				error : function(e) {
	    					console.log("ERROR: ", e);
	    				}
	                })  
	            }
	        });  
	    })  
	</script>
    <!-- smooth dropdown -->
    <script>
        $(document).ready(function () {
            $('ul li.dropdown').hover(function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
            }, function () {
                $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
            });
        });
    </script>
    <!-- //smooth dropdown -->
    <!-- cart-js -->
    <script th:src="@{/assets/web/js/minicart.js}"></script>
    <script>
        hub.render();

        hub.cart.on('new_checkout', function (evt) {
            var items, len, i;

            if (this.subtotal() > 0) {
                items = this.items();

                for (i = 0, len = items.length; i < len; i++) { }
            }
        });
    </script>
    <!-- //cart-js -->
    <!-- start-smooth-scrolling -->
    <script th:src="@{/assets/web/js/move-top.js}"></script>
    <script th:src="@{/assets/web/js/easing.js}"></script>
    <script>
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();

                $('html,body').animate({
                    scrollTop: $(this.hash).offset().top
                }, 1000);
            });
        });
    </script>
    <!-- //end-smooth-scrolling -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            /*
            var defaults = {
                containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear' 
            };
            */

            $().UItoTop({
                easingType: 'easeOutQuart'
            });

        });
    </script>
    <script th:src="@{/assets/web/js/SmoothScroll.min.js}"></script>
    <!-- //smooth-scrolling-of-move-up -->
    <!-- Bootstrap core JavaScript
        ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script th:src="@{/assets/web/js/bootstrap.js}"></script>

    <!--/* Per-page placeholder for additional scripts */-->

    <!-- Product slider Owl-Carousel-JavaScript -->
    <script class="custom-script" th:src="@{/assets/web/js/owl.carousel.js}"></script>
    <script class="custom-script">
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            items: 4,
            loop: false,
            margin: 10,
            autoplay: false,
            autoplayTimeout: 5000,
            autoplayHoverPause: false,
            responsive: {
                320: {
                    items: 1,
                },
                568: {
                    items: 2,
                },
                991: {
                    items: 3,
                },
                1050: {
                    items: 4
                }
            }
        });
    </script>
    <!-- //Product slider Owl-Carousel-JavaScript -->
    <!-- Banner Responsiveslides -->
    <script class="custom-script" th:src="@{/assets/web/js/responsiveslides.min.js}"></script>
    <script class="custom-script">
        // You can also use "$(window).load(function() {"
        $(function () {
            // Slideshow 4
            $("#slider3").responsiveSlides({
                auto: false,
                pager: true,
                nav: false,
                speed: 500,
                namespace: "callbacks",
                before: function () {
                    $('.events').append("<li>before event fired.</li>");
                },
                after: function () {
                    $('.events').append("<li>after event fired.</li>");
                }
            });

        });
    </script>
    <!-- // Banner Responsiveslides -->

</body>

</html>