<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="views/web/layout/base-layout :: head(~{ :: title}, ~{ :: .custom-link}, ~{ :: .custom-script})">

	<!--/*  Title will be replaced by their respective titles in the calling template. */-->
	<title>Product detail</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<meta charset="utf-8" />
	<meta name="keywords" content="Fashion Hub Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, Sony Ericsson, Motorola web design" />

	<!--/* Default links; can be replaced by the calling templates */-->
	<link th:href="@{/assets/web/css/bootstrap.css}" rel="stylesheet" type="text/css" media="all">
	<link th:href="@{/assets/web/css/shop.css}" rel="stylesheet" type="text/css" media="all">
	<link th:href="@{/assets/web/css/style.css}" rel="stylesheet" type="text/css" media="all">
	<link th:href="@{/assets/web/css/fontawesome-all.min.css}" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
	<link
		href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
		rel="stylesheet">


	<!--/* Per-page placeholder for additional links */-->
	<link class="custom-link" rel="stylesheet" th:href="@{/assets/web/css/owl.carousel.min.css}">
	<link class="custom-link" rel="stylesheet" th:href="@{/assets/web/css/flexslider.css}" media="all">
	<link class="custom-link" th:href="@{/assets/web/css/stars.css}" rel="stylesheet" type="text/css" media="all">
	<link class="custom-link" th:href="@{/assets/web/css/bootstrap-rating.css}" rel="stylesheet" type="text/css">

	<script class="custom-script">
		addEventListener("load", function () {
			setTimeout(hideURLbar, 0);
		}, false);

		function hideURLbar() {
			window.scrollTo(0, 1);
		}

	</script>

</head>

<body>
	<div id="fb-root"></div>
	<script async defer crossorigin="anonymous" th:src="@{https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v10.0&appId=926701404829342&autoLogAppEvents=1}" nonce="EQS6Sg76"></script>
	<!--/* Header fragment */-->
	<header th:replace="views/web/layout/header :: header"></header>

	<div th:replace="views/web/layout/banner :: banner-shared"></div>

	<div th:insert="views/web/layout/base-layout :: content(~{ :: #productContent})">
		<!-- signin Modal -->
		<div id="productContent">
			<!-- Single -->
			<div class="innerf-pages section py-5">
				<div class="container">
					<div class="row my-sm-5">
						<div class="col-lg-4 single-right-left">
							<div class="grid images_3_of_2">
								<div class="flexslider1">
									<ul class="slides">
										<li th:each="image : ${product.images}"
											th:data-thumb="@{'/assets/images/'+ ${image}}">
											<div class="thumb-image">
												<img th:src="@{'/assets/images/'+ ${image}}" data-imagezoom="true"
													alt=" " class="img-fluid">
											</div>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-8 mt-lg-0 mt-5 single-right-left simpleCart_shelfItem">
							<h3 th:text="${product.name}"></h3>
							<div class="caption">

								<div>
									<!--First Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg == 0}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 0 && product.rate_avg < 1}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 1}"></i>
									<!--Second Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 1}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 1 && product.rate_avg < 2}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 2}"></i>
									<!--Third Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 2}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 2 && product.rate_avg < 3}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 3}"></i>
									<!--Fourth Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 3}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 3 && product.rate_avg < 4}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 4}"></i>
									<!--Fifth Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 4}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 4 && product.rate_avg < 5}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg == 5}"></i>

								</div>

								<div class="clearfix"></div>
								<h6>
									<span th:text="${product.price}" style="color: red;"></span>
								</h6>
							</div>
							<div class="desc_single">
								<h5 class="sp_title">Description</h5>
								<ul>
									<li th:each="description : ${product.descriptions}" th:text="${description}"></li>
								</ul>
							</div>
							<div class="desc_single">
								<h5 class="sp_title">Quantity</h5>
								<p th:text="${product.quantity}"></p>
							</div>
							<div class="d-sm-flex justify-content-between">
								<div class="occasional">
									<h5 class="sp_title mb-3">Highlights</h5>
									<ul class="single_specific">
										<li>
											<span>Fabric: </span> Poly-Viscose
										</li>
										<li>
											<span>Pattern :</span> Solid
										</li>
										<li>
											<span>Type :</span> Single Breasted
										</li>
										<li>
											<span>Fit :</span> Slim
										</li>
									</ul>

								</div>
								<div class="color-quality mt-sm-0 mt-4">
									<h5 class="sp_title mb-3">services</h5>
									<ul class="single_serv">
										<li>
											<a href="#">30 Day Return Policy</a>
										</li>
										<li class="mt-2">
											<a href="#">Cash on Delivery available</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="description">
								<h5>Check delivery, payment options and charges at your
									location</h5>
								<form action="#" method="post">
									<input type="text" placeholder="Enter pincode" required>
									<input type="submit" value="Check">
								</form>
							</div>
							<div class="occasion-cart">
								<div class="chr single-item single_page_b">
									<form th:action="@{/cart/add(productId=${product.id},quantity=${quantity})}">
										<input th:name="productId" type="hidden" th:value="${product.id}" /> <input
											th:name="quantity" type="hidden" th:value="1" />
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /new_arrivals -->
			<div class="section singlep_btm pb-5">
			    <div class="container">
			        <div class="new_arrivals">
			            <h4 class="rad-txt text-capitalize">Comment
			            </h4>
			            <div class="fb-comments" th:attr="data-href='http://localhost:8080/triplet/products/'+${product.id}" 
			                data-width="" data-numposts="5">
			            </div>
			        </div>
			    </div>
			</div>
			<!--//new_arrivals-->
		</div>
	</div>

	<!--/* Footer fragment */-->
	<footer th:replace="views/web/layout/footer :: footer"></footer>

	<!-- js -->
	<script th:src="@{/assets/web/js/jquery-2.2.3.min.js}"></script>

	<!-- //js -->
	<!-- Load the JS SDK asynchronously -->
	<script th:src="@{https://connect.facebook.net/vi_VN/sdk.js}" async defer crossorigin="anonymous"></script>

	<!-- smooth dropdown -->
	<script>
		$(document).ready(function () {
			$('ul li.dropdown').hover(function () {
				$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
			}, function () {
				$(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
			});
		});
	</script>
	<!-- //smooth dropdown -->
	<!-- cart-js -->
	<script th:src="@{/assets/web/js/minicart.js}"></script>
	<script>
		hub.render();

		hub.cart.on('new_checkout', function (evt) {
			var items, len, i;

			if (this.subtotal() > 0) {
				items = this.items();

				for (i = 0, len = items.length; i < len; i++) { }
			}
		});
	</script>
	<!-- //cart-js -->
	<!-- start-smooth-scrolling -->
	<script th:src="@{/assets/web/js/move-top.js}"></script>
	<script th:src="@{/assets/web/js/easing.js}"></script>
	<script>
		jQuery(document).ready(function ($) {
			$(".scroll").click(function (event) {
				event.preventDefault();

				$('html,body').animate({
					scrollTop: $(this.hash).offset().top
				}, 1000);
			});
		});
	</script>
	<!-- //end-smooth-scrolling -->
	<!-- smooth-scrolling-of-move-up -->
	<script>
		$(document).ready(function () {
			/*
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			*/

			$().UItoTop({
				easingType: 'easeOutQuart'
			});

		});
	</script>
	<script th:src="@{/assets/web/js/SmoothScroll.min.js}"></script>
	<!-- //smooth-scrolling-of-move-up -->

	<!-- zoom -->
	<script class="custom-script" th:src="@{/assets/web/js/imagezoom.js}"></script>
	<!-- zoom-->

	<!-- FlexSlider -->
	<script class="custom-script" th:src="@{/assets/web/js/jquery.flexslider.js}"></script>
	<script class="custom-script">
		// Can also be used with $(document).ready()
		$(window).load(function () {
			$('.flexslider1').flexslider({
				animation: "slide",
				controlNav: "thumbnails"
			});
		});
	</script>
	<!-- //FlexSlider-->

	<!-- Bootstrap core JavaScript
			================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script th:src="@{/assets/web/js/bootstrap.js}"></script>
</body>

</html>