<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{views/web/layout/base-layout.html}">

<head>
	<!--/*  Title will be replaced by their respective titles in the calling template. */-->
	<title>Product detail</title>

	<!--/* Per-page placeholder for additional links */-->
	<link th:href="@{/assets/web/css/flexslider.css}" media="all" rel="stylesheet">
	<link th:href="@{/assets/web/css/stars.css}" rel="stylesheet" type="text/css" media="all">
	<link th:href="@{/assets/web/css/bootstrap-rating.css}" rel="stylesheet" type="text/css">

</head>

<body>
	<!--/* Header fragment */-->
	<section layout:fragment="content">
		<div th:replace="views/web/layout/banner :: banner-shared"></div>
		<!-- signin Modal -->
		<div id="productContent">
			<!-- Single -->
			<div class="innerf-pages section py-5">
				<div class="container">
					<div class="row my-sm-5">
						<div class="col-lg-4 single-right-left">
							<div class="grid images_3_of_2">
								<div class="flexslider1">
									<ul class="slides">
										<li th:each="image : ${product.images}"
											th:data-thumb="@{'/assets/images/'+ ${image}}">
											<div class="thumb-image">
												<img th:src="@{'/assets/images/'+ ${image}}" data-imagezoom="true"
													alt=" " class="img-fluid">
											</div>
										</li>
									</ul>
									<div class="clearfix"></div>
								</div>
							</div>
						</div>
						<div class="col-lg-8 mt-lg-0 mt-5 single-right-left simpleCart_shelfItem">
							<h3 th:text="${product.name}"></h3>
							<div class="caption">

								<div>
									<!--First Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg == 0}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 0 && product.rate_avg < 1}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 1}"></i>
									<!--Second Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 1}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 1 && product.rate_avg < 2}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 2}"></i>
									<!--Third Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 2}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 2 && product.rate_avg < 3}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 3}"></i>
									<!--Fourth Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 3}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 3 && product.rate_avg < 4}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg >= 4}"></i>
									<!--Fifth Star-->
									<i class="fa fa-star-o checkedStar" th:if="${product.rate_avg <= 4}"></i> <i
										class="fa fa-star-half-o checkedStar"
										th:if="${product.rate_avg > 4 && product.rate_avg < 5}"></i> <i
										class="fa fa-star checkedStar" th:if="${product.rate_avg == 5}"></i>

								</div>

								<div class="clearfix"></div>
								<h6>
									<span th:text="${product.price}" style="color: red;"></span>
								</h6>
							</div>
							<div class="desc_single">
								<h5 class="sp_title">Description</h5>
								<ul>
									<li th:each="description : ${product.descriptions}" th:text="${description}"></li>
								</ul>
							</div>
							<div class="desc_single">
								<h5 class="sp_title">Quantity</h5>
								<p th:text="${product.quantity}"></p>
							</div>
							<div class="d-sm-flex justify-content-between">
								<div class="occasional">
									<h5 class="sp_title mb-3">Highlights</h5>
									<ul class="single_specific">
										<li>
											<span>Fabric: </span> Poly-Viscose
										</li>
										<li>
											<span>Pattern :</span> Solid
										</li>
										<li>
											<span>Type :</span> Single Breasted
										</li>
										<li>
											<span>Fit :</span> Slim
										</li>
									</ul>

								</div>
								<div class="color-quality mt-sm-0 mt-4">
									<h5 class="sp_title mb-3">services</h5>
									<ul class="single_serv">
										<li>
											<a href="#">30 Day Return Policy</a>
										</li>
										<li class="mt-2">
											<a href="#">Cash on Delivery available</a>
										</li>
									</ul>
								</div>
							</div>
							<div class="description">
								<h5>Check delivery, payment options and charges at your
									location</h5>
								<form action="#" method="post">
									<input type="text" placeholder="Enter pincode" required>
									<input type="submit" value="Check">
								</form>
							</div>
							<div class="occasion-cart">
								<div class="chr single-item single_page_b">
									<form th:action="@{/cart/add(productId=${product.id},quantity=${quantity})}">
										<input th:name="productId" type="hidden" th:value="${product.id}" /> <input
											th:name="quantity" type="hidden" th:value="1" />
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>