<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{views/web/layout/base-layout.html}">

<head>
	<!--/*  Title will be replaced by their respective titles in the calling template. */-->
	<title>Products</title>
</head>

<body>
	<section layout:fragment="content">
		<div th:replace="views/web/layout/banner :: banner-shared"></div>
		<div id="productsContent">
			<!-- Shop -->
			<div class="container">
				<div class="row my-4" th:unless="${objectPage.content.empty}">
					<!-- card group  -->
					<div class="card-group">
						<!-- card -->
						<div class="col-lg-3 col-md-6 mb-4 p-0" th:each="product : ${objectPage.content}">
							<div class="card  h-100 product-men p-3">
								<div class="men-thumb-item">
									<img class="card-img-top"
										th:src="@{'/assets/images/'+${#strings.setSplit(product.image,'/')[0]}}"
										alt="img">
									<div class="men-cart-pro">
										<div class="inner-men-cart-pro">
											<a th:href="@{/products/{id}(id=${product.id})}"
												class="link-product-add-cart">Quick View</a>
										</div>
									</div>
								</div>

								<!-- card body -->
								<div class="card-body">
									<h5 class="card-title text-capitalize" th:text="${product.name}"></h5>
									<div class="card-text d-flex justify-content-end">
										<p class="text-dark font-weight-bold" th:text="${product.price}"></p>
									</div>
								</div>
								<!-- card footer -->
								<div class="card-footer d-flex justify-content-end">
									<form action="#" method="post">
										<input type="hidden" name="cmd" value="_cart">
										<input type="hidden" name="add" value="1">
										<input type="hidden" name="hub_item" th:value="${product.name}">
										<input type="hidden" name="amount" th:value="${product.price}">
										<button type="submit" class="hub-cart phub-cart btn">
											<i class="fa fa-cart-plus" aria-hidden="true"></i>
										</button>
										<a href="#" data-toggle="modal" data-target="#myModal1"></a>
									</form>
								</div>
							</div>
						</div>
						<!-- //card -->
					</div>
					<!-- //card group -->
				</div>
			</div>
			<nav th:if="${objectPage.totalPages > 0}" aria-label="paging product" class="my-3">
				<ul class="pagination justify-content-center">
					<li class="page-item" th:classappend="${objectPage.number < 1} ? disabled">
						<a th:if="${objectPage.number > 0}"
							th:href="@{${url}(size=${objectPage.size}, page=${objectPage.number})}" class="page-link"
							tabindex="-1">Previous</a>
						<a th:if="${objectPage.number == 0 }" href="#" class="page-link" tabindex="-1">Previous</a>
					</li>
					<li th:each="pageNumber : ${pageNumbers}" class="page-item"
						th:classappend="${pageNumber==objectPage.number + 1} ? active">
						<a class="page-link" th:text=${pageNumber}
							th:href="@{${url}(size=${objectPage.size}, page=${pageNumber})}">
							<span th:if="${pageNumber==objectPage.number + 1}" class="sr-only">(current)</span>
						</a>
					</li>
					<li class="page-item"
						th:classappend="${objectPage.number ==  objectPage.totalPages - 1} ? disabled">
						<a th:if="${objectPage.number < objectPage.totalPages - 1 }" class="page-link"
							th:href="@{${url}(size=${objectPage.size}, page=${objectPage.number +2})}">Next</a>
						<a th:if="${objectPage.number == objectPage.totalPages -1 }" class="page-link" href="#">Next</a>
					</li>
				</ul>
			</nav>
			<!--// Shop -->
		</div>
	</section>
</body>

</html>