<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    layout:decorate="~{views/web/layout/base-layout.html}">

<head>
    <!--/*  Title will be replaced by their respective titles in the calling template. */-->
    <title>Order detail</title>
</head>

<body>
    <section layout:fragment="content">
        <div th:replace="views/web/layout/banner :: banner-shared"></div>
        <div class="container my-5">
            <div class="row">
                <div class="col-sm-3">
                    <div th:replace="views/web/users/sidebar :: sidebar"></div>
                </div>
                <div th:if="${orderInfo!=null}" class="card w-75">
                    <div class="card-header ">
                        <div class="d-flex justify-content-between">
                            <div>
                                <span class="h4 mr-2">Order detail</span>
                                <span th:text="'#OD00'+ ${orderInfo.id}"></span>
                            </div>
                            <div>
                                <a th:if="${orderInfo.status == T(com.triplet.model.Order.Status).PENDING}"
                                    th:href="@{/orders/{id}/cancel(id=${orderInfo.id})}" class="btn btn-outline-warning"
                                    type="button" role="button">Cancel order
                                    <i class="pl-2 far fa-times-circle"></i>
                                </a>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between">
                            <div>
                                <p th:text="${orderInfo.status}" class="badge rounded-pill bg-info text-white"></p>
                            </div>
                            <p th:text="${orderInfo.create_time}"></p>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="p-2">
                            <p class="h5 font-weight-bold text-center">Delivery address</p>
                            <hr>
                            <div th:with="ship = ${orderInfo.ship}">
                                <div>
                                    <span class="h6 font-weight-bold mr-3">Name:</span>
                                    <span th:text="${ship.fullname}"></span>
                                </div>
                                <div>
                                    <span class="h6 font-weight-bold mr-3">Phone number:</span>
                                    <span th:text="${ship.phone}"></span>
                                </div>
                                <div>
                                    <span class="h6 font-weight-bold mr-3">Address:</span>
                                    <span th:text="${ship.address}"></span>
                                </div>
                            </div>
                        </div>
                        <div class=" p-2">
                            <p class="h5 font-weight-bold text-center">Order products</p>
                            <hr>
                            <div th:with="items = ${orderInfo.items}">
                                <div th:each="item,iter : ${items}" th:if="${item.quantity}>0" class="row my-2">
                                    <div class="col-2 text-center d-flex align-items-center">
                                        <a th:href="@{/products/{id}(id=${item.id})}">
                                            <img th:src="@{'/assets/images/'+${item.image}}" width="100" alt="item img"
                                                class="img-responsive border border-dark">
                                        </a>
                                    </div>
                                    <div class="col-10 row">
                                        <div class="col-9 d-flex flex-column justify-content-between">
                                            <div class="p-2">
                                                <p th:text="${item.name}" class="h6 font-weight-bold text-dark"></p>
                                            </div>
                                            <div class="p-2">
                                                <p>Đơn giá</p>
                                                <div>
                                                    <span th:text="${item.formatPrice}" class="font-italic mr-3"></span>
                                                    <span th:text="'x'+${item.quantity}" class="font-italic"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-3 d-flex flex-column justify-content-end">
                                            <div class="p-2">
                                                <p>Thành tiền</p>
                                                <p class="font-weight-bold" th:text="${item.formatSumPrice}"></p>
                                            </div>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div class="d-flex justify-content-between my-3">
                            <div class="d-flex align-items-end">
                                <a th:href="@{/orders}" class="btn btn-secondary" type="button" role="button">
                                    <i class="fas fa-arrow-left mr-2"></i>
                                    Back to my orders
                                </a>
                            </div>
                            <div>
                                <p th:text="'Total ('+${orderInfo.itemQuantity+' items): '}" class="h5"></p>
                                <span th:text="${orderInfo.formatPriceTotal}"
                                    class="font-weight-bold text-danger px-2 h5"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>