<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    layout:decorate="~{views/web/layout/base-layout.html}">

<head>
    <!--/*  Title will be replaced by their respective titles in the calling template. */-->
    <title>Shipping detail</title>
</head>

<body>
    <section layout:fragment="content">
        <div th:replace="views/web/layout/banner :: banner-shared"></div>
        <div class="container my-5">
            <div class="row">
                <div class="col-sm-3">
                    <div th:replace="views/web/users/sidebar :: sidebar"></div>
                </div>
                <div class="card w-75">
                    <div class="card-header h4">
                        My orders
                    </div>
                    <div class="text-center" th:if="${orderInfos.empty}">
                        Your orders is empty,
                        <a class="text-info" th:href="@{/}">shopping now</a>
                    </div>
                    <table th:unless="${orderInfos.empty}" class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Id</th>
                                <th scope="col">Created at</th>
                                <th scope="col">Total price</th>
                                <th scope="col">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="order : ${orderInfos}">
                                <th scope="row"><a th:href="@{/orders/{id}(id=${order.id})}"
                                        th:text="${'#OD00'+ order.id}"></a>
                                </th>
                                <td th:text="${order.create_time}"></td>
                                <td th:text="${order.formatPriceTotal}"></td>
                                <td><span th:text="${order.status}" class="badge badge-pill badge-secondary"></span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</body>

</html>