<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.3.xsd
		http://www.springframework.org/schema/tx 
		http://www.springframework.org/schema/tx/spring-tx-4.2.xsd">

	<bean id="userService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.triplet.service.impl.UserServiceImpl">
				<property name="userDAO" ref="UserDAO" />
			</bean>
		</property>
	</bean>

	<bean id="userDetailsService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.triplet.service.impl.UserDetailsServiceImpl">
				<property name="userDAO" ref="UserDAO" />
			</bean>
		</property>
	</bean>

	<bean id="productService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.triplet.service.impl.ProductServiceImpl">
				<property name="productDAO" ref="ProductDAO" />
			</bean>
		</property>
	</bean>

	<bean id="categoryService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.triplet.service.impl.CategoryServiceImpl">
				<property name="categoryDAO" ref="CategoryDAO" />
			</bean>
		</property>

	</bean>
	<bean id="rateService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.triplet.service.impl.RateServiceImpl">
				<property name="rateDAO" ref="RateDAO" />
			</bean>
		</property>
	</bean>
	<bean id="orderService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.triplet.service.impl.OrderServiceImpl">
				<property name="orderDAO" ref="OrderDAO" />
			</bean>
		</property>
	</bean>
	<bean id="orderItemService" parent="baseTransactionProxy">
		<property name="target">
			<bean class="com.triplet.service.impl.OrderItemServiceImpl">
				<property name="orderItemDAO" ref="OrderItemDAO" />
			</bean>
		</property>
	</bean>
</beans>
