<beans:beans
	xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-4.2.xsd">

	<beans:bean id="encoder"
		class="org.springframework.security.crypto.bcrypt.BCryptPasswordEncoder">
		<beans:constructor-arg name="strength"
			value="10" />
	</beans:bean>

	<beans:bean id="customSuccessHandler"
		class="com.triplet.security.CustomSuccessHandler" />

	<http use-expressions="true">
		<csrf disabled="true" />

		<intercept-url pattern="/admin/**"
			access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/dashboard"
			access="hasRole('ROLE_ADMIN')" />
		<intercept-url pattern="/orders/**"
			access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/users/**"
			access="hasRole('ROLE_USER')" />
		<intercept-url pattern="/rates/**"
			access="hasRole('ROLE_USER')" />

		<access-denied-handler
			error-page="/accessDenied" />

		<form-login login-page='/login'
			login-processing-url="/j_spring_security_check"
			authentication-success-handler-ref="customSuccessHandler"
			authentication-failure-url="/login?incorrectAccount"
			username-parameter="username" password-parameter="password" />

		<session-management
			invalid-session-url="/login?sessionTimeout" />

		<logout logout-url="/logout" delete-cookies="JSESSIONID"
			invalidate-session="true" />
	</http>

	<authentication-manager>
		<authentication-provider
			user-service-ref="userDetailsService">
			<password-encoder ref="encoder" />
		</authentication-provider>
	</authentication-manager>

</beans:beans>