<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/xhtml"
    xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
    layout:decorate="~{views/admin/layout/base-layout.html}">

<head>
    <title>User Form</title>
</head>

<body id="page-top">
    <section layout:fragment="content">
        <div id="user-form" class="row justify-content-center">
            <div class="card shadow mb-4" style="width: 700px;">
                <div class="card-header text-center">
                    <h2 th:if="${status == 'add'}">Add User</h2>
                    <h2 th:unless="${status == 'add'}">Update User</h2>
                </div>
                <div class="card-body">
                    <form th:action="@{/admin/users/create}" method="post" th:object="${user}">
                        <div class="form-row">
                            <input th:if="${status=='update'}" type="hidden" th:field="*{id}">
                            <div class="form-group mx-2">
                                <label for="inputFullName">Full name</label>
                                <input type="text" th:field="*{fullname}" class="form-control" id="inputFullName"
                                    placeholder="Enter full name">
                            </div>
                            <div class="form-group mx-2">
                                <label for="inputUserName">User name</label>
                                <input type="text" th:field="*{username}" class="form-control" id="inputUserName"
                                    placeholder="Enter username" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="inputEmail4">Email</label>
                                <input type="email" th:field="*{email}"
                                    pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" class="form-control"
                                    id="inputEmail4" placeholder="Enter email" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="inputPassword4">Password</label>
                                <input type="password" th:field="*{password}" class="form-control" id="inputPassword4"
                                    placeholder="Enter password" required>
                            </div>
                            <div class="form-group mx-2">
                                <label for="inputPassword5">Password confirm</label>
                                <input type="password" th:field="*{confirmPassword}" class="form-control"
                                    id="inputPassword5" placeholder="Re-enter password" required>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputAddress">Address</label>
                            <input type="text" th:field="*{address}" class="form-control" id="inputAddress"
                                placeholder="Enter address">
                        </div>
                        <div class="form-group">
                            <label for="inputPhone">Phone</label>
                            <input type="number" th:field="*{phone}" class="form-control" id="inputPhone"
                                placeholder="Enter phone number">
                        </div>
                        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <script th:src="@{/assets/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>
    <script class="custom-script" th:src="@{/assets/admin/js/sb-admin-2.min.js}"></script>
</body>

</html>