<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head
    th:replace="views/admin/layout/base-layout :: head(~{this :: title}, ~{this :: .custom-link}, ~{this :: .custom-script})">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="admin page">

    <title>User Form</title>

    <link th:href="@{/assets/admin/vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css">
    <link
        th:href="@{https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i}"
        rel="stylesheet">

    <!-- Custom styles for this template-->
    <link class="custom-link" th:href="@{/assets/admin/css/sb-admin-2.min.css}" rel="stylesheet">

</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">

        <div th:replace="views/admin/layout/sidebar:: sidebar"></div>

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <div th:replace="views/admin/layout/topbar:: topbar"></div>

                <!-- Begin Page Content -->

                <div class="container-fluid">
                	<div th:if="${msg != null}" class="alert alert-dismissible fade show"
						th:classappend="${css == 'error' ? 'alert-danger' : 'alert-success'}" role="alert">
						<strong th:text="${msg}"></strong>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>

                    <div th:insert="views/admin/layout/base-layout :: content(~{ :: #user-form})">
                        <div id="user-form" class="row justify-content-center">
                            <div class="card shadow mb-4" style="width: 700px;">
                                <div class="card-header text-center">
                                    <h2 th:if="${status == 'add'}">Add User</h2>
                                    <h2 th:unless="${status == 'add'}">Update User</h2>
                                </div>
                                <div class="card-body">
                                    <form th:action="@{/admin/users/create}" method="post" th:object="${user}">
                                    	<input  type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />	
                                        <div class="form-row">
                                            <input th:if="${status=='update'}" type="hidden" th:field="*{id}">
                                            <div class="form-group mx-2">
                                                <label for="inputFullName">Full name</label> 
                                                <input type="text" th:field="*{fullname}"
                                                    class="form-control" id="inputFullName" placeholder="Enter full name">
                                            </div>
                                            <div class="form-group mx-2">
                                                <label for="inputUserName">User name</label> 
                                                <input type="text" th:field="*{username}"
                                                    class="form-control" id="inputUserName" placeholder="Enter username" required>
                                            </div>                                            
                                            <div class="form-group mx-2">
                                                <label for="inputEmail4">Email</label> 
                                                <input type="email" th:field="*{email}" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
                                                    class="form-control" id="inputEmail4" placeholder="Enter email" required>
                                 
                                            </div>
                                            <div class="form-group mx-2">
                                                <label for="inputPassword4">Password</label> 
                                                <input type="password" th:field="*{password}"
                                                    class="form-control" id="inputPassword4" placeholder="Enter password" required>
                                            </div>
                                            <div class="form-group mx-2">
                                                <label for="inputPassword5">Password confirm</label> 
                                                <input type="password" th:field="*{confirmPassword}"
                                                    class="form-control" id="inputPassword5" placeholder="Re-enter password" required>
                                            </div>                                            
                                        </div>
                                        <div class="form-group">
                                            <label for="inputAddress">Address</label> 
                                            <input type="text" th:field="*{address}"
                                                class="form-control" id="inputAddress" placeholder="Enter address">
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPhone">Phone</label> 
                                            <input type="number" th:field="*{phone}"
                                                class="form-control" id="inputPhone" placeholder="Enter phone number">
                                        </div>

                                        <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
                                    </form>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <div th:replace="views/admin/layout/footer:: footer"></div>
        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top"> <i class="fas fa-angle-up"></i>
    </a>


    <script th:src="@{/assets/admin/vendor/jquery/jquery.min.js}"></script>
    <script th:src="@{/assets/admin/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>


    <script th:src="@{/assets/admin/vendor/jquery-easing/jquery.easing.min.js}"></script>


    <script class="custom-script" th:src="@{/assets/admin/js/sb-admin-2.min.js}"></script>



</body>

</html>